Brotli==1.1.0
exceptiongroup==1.2.2
gmpy2==2.1.5
h2==4.2.0
ipykernel==6.29.5
itables==2.2.4
kaggle==1.6.17
nbformat==5.10.4
openai==1.55.3
pip==25.0.1
pybind11==2.13.6
pybind11_global==2.13.6
pylatexenc==2.10
PySocks==1.7.1
seaborn==0.13.2
squlearn==0.8.1
statsmodels==0.14.2
streamlit-drawable-canvas==0.9.3
streamlit-float==0.3.5
streamlit-image-comparison==0.0.4
streamlit-modal==0.1.2
streamlit-option-menu==0.3.12
torchvision==0.20.1
typing-inspection==0.4.0
wheel==0.45.1
zstandard==0.23.0
